/*------------------------------------------Colors*/

body {
    background-color: #A9E8DC;
}

/*------------------------------------------Site Banner*/

.banner {
    background: url("../images/airplane.jpg") no-repeat center;
    background-size: cover;    
    min-height:105px;    
    border: 1px solid #0285A8;
}

/*------------------------------------------Where To Dropdown box and buttons*/

.btn {
    color: #fff;
    background-color: #0285A8;
    border-color: #0285A8;
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    font-weight: 600;        
    margin-top: 2px;
    margin-left: 5px;
}

.dropdown-menu {
    min-width: 3rem;
}

.dropdown-item {
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    color: #02547D;    
    border-color: #0285A8;
}

/*------------------------------------------Select attraction Radio Buttons*/

.form-check-inline {
    font-family: 'Encode Sans Semi Condensed', sans-serif;
    font-weight: 800;    
    color: #02547D;    
    /* Responsive font-size and line-height for mobile devices */
    font-size: calc(11px + (20 - 14) * ((100vw - 300px) / (1200 - 300)));
    line-height: calc(1.3em + (1.5 - 1.2) * ((100vw - 300px)/(1200 - 300)));
    padding-right: 5px;
    margin: 0px;
}

/* Align radio buttons to labels */
.form-check-input {
    margin-top: -1px;
    vertical-align: middle;
}

/*------------------------------------------Map Section*/

#map {
    height: 100%;    
}